GivEnergy_Node-RED flow.json
[{"id":"3c8f4919.644d06","type":"subflow","name":"GivEnergy Rest API","info":"","category":"","in":[{"x":180,"y":80,"wires":[{"id":"d2da77e0.5b1258"}]}],"out":[{"x":1540,"y":80,"wires":[{"id":"146c44fa.43a18b","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1680,"y":180,"wires":[{"id":"abbe4eb7.82fc7","port":0}]}},{"id":"2d22c520.42899a","type":"function","z":"3c8f4919.644d06","name":"Create url","func":"msg.headers.Authorization= global.get(\"GivEnergyApiKey\");\n\nmsg.url = global.get(\"GivEnergyAPIURL\") + msg.apiCall;\n\n//params are added automatically\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":80,"wires":[["146c44fa.43a18b"]]},{"id":"146c44fa.43a18b","type":"http request","z":"3c8f4919.644d06","name":"Make the Call","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":true,"proxy":"","authType":"","senderr":false,"x":1370,"y":80,"wires":[["abbe4eb7.82fc7"]]},{"id":"36a0d420.a5f1dc","type":"change","z":"3c8f4919.644d06","name":"Set Params in payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"params","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":80,"wires":[["2d22c520.42899a"]]},{"id":"d2da77e0.5b1258","type":"change","z":"3c8f4919.644d06","name":"payload {}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["3ff31db7.d3a562"]]},{"id":"3ff31db7.d3a562","type":"change","z":"3c8f4919.644d06","name":"Set Headers {}","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[["cfda7646.16fa98"]]},{"id":"cfda7646.16fa98","type":"change","z":"3c8f4919.644d06","name":"content-type","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":80,"wires":[["36a0d420.a5f1dc"]]},{"id":"abbe4eb7.82fc7","type":"function","z":"3c8f4919.644d06","name":"","func":"var statusMsg;\nif (msg.statusCode==200) \n{\n    statusMsg = { fill:\"green\", shape:\"dot\", text:\"Call successful\" };\n} else\n{\n    statusMsg = { fill:\"red\", shape:\"dot\", text:\"Call failed\" };\n}\n\nmsg.payload= statusMsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":180,"wires":[[]]},{"id":"f39b6f0c7c5349c9","type":"tab","label":"GivEnergy API - Home Assistant","disabled":false,"info":"","env":[]},{"id":"7f2adfd4da0992db","type":"subflow:3c8f4919.644d06","z":"f39b6f0c7c5349c9","name":"","env":[],"x":750,"y":300,"wires":[["09dcf36be766615b","f785f2ad0ce9c11b"]]},{"id":"9b1108fc79196094","type":"change","z":"f39b6f0c7c5349c9","name":"batteryData/all","rules":[{"t":"set","p":"apiCall","pt":"msg","to":"batteryData/all","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["fed656fa0fafd513"]]},{"id":"8a92967bb70df5ac","type":"inject","z":"f39b6f0c7c5349c9","name":"","props":[],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":160,"y":320,"wires":[["9b1108fc79196094"]]},{"id":"fed656fa0fafd513","type":"change","z":"f39b6f0c7c5349c9","name":"GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["7f2adfd4da0992db"]]},{"id":"8acda0cd92be05c3","type":"inject","z":"f39b6f0c7c5349c9","name":"API Key","props":[{"p":"payload.apiKey","v":"API Key Here","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":120,"wires":[["22c08182571283ee"]]},{"id":"22c08182571283ee","type":"change","z":"f39b6f0c7c5349c9","name":"Set apiKey","rules":[{"t":"set","p":"GivEnergyApiKey","pt":"global","to":"payload.apiKey","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[[]]},{"id":"4016fa010740f57a","type":"inject","z":"f39b6f0c7c5349c9","name":"https://api.givenergy.cloud","props":[{"p":"url","v":"https://api.givenergy.cloud/","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":740,"y":120,"wires":[["22f077a7fd4d39fa"]]},{"id":"22f077a7fd4d39fa","type":"change","z":"f39b6f0c7c5349c9","name":"Set URL","rules":[{"t":"set","p":"GivEnergyAPIURL","pt":"global","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":120,"wires":[[]]},{"id":"e01de6f56e766958","type":"comment","z":"f39b6f0c7c5349c9","name":"Step 1 - Set API ( change inject node with your key )","info":"","x":320,"y":80,"wires":[]},{"id":"788374a1304f4f90","type":"comment","z":"f39b6f0c7c5349c9","name":"Step 2 - Set URL","info":"","x":790,"y":80,"wires":[]},{"id":"e0a55619ccb7ce92","type":"comment","z":"f39b6f0c7c5349c9","name":"Step 3 - Test APIs ( view output in debug window )","info":"","x":300,"y":220,"wires":[]},{"id":"09dcf36be766615b","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Battery_Voltage","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Battery_Voltage"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:battery-50"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload.batteryPercent","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1050,"y":300,"wires":[[]]},{"id":"f785f2ad0ce9c11b","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Battery_Status","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Battery_Status"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:list-status"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload.batteryStatus","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1020,"y":360,"wires":[[]]},{"id":"5ed36bd4f55efa95","type":"subflow:3c8f4919.644d06","z":"f39b6f0c7c5349c9","name":"","env":[],"x":780,"y":500,"wires":[["116570dfe3fe81a6","84ca6c3b0f8bdf67","0fae30b02e4137ca","800a443458cf7dea","bb9216c1687a013f","e5f722cc3335782d","f5b324eecf5b2b99","be8c52d220694d9c","b57ee1eb06068cd2","e9efbf6287363fb8","248f89e9e844206f","1ad979d1d02f7f1d","9d4d39b659cdcf19","2cab4860f31f6ba5"]]},{"id":"65e7a4b20fedc5cc","type":"change","z":"f39b6f0c7c5349c9","name":"plant/summary","rules":[{"t":"set","p":"apiCall","pt":"msg","to":"plant/summary","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":500,"wires":[["e3b215a2d0264785"]]},{"id":"09ae8883106259d7","type":"inject","z":"f39b6f0c7c5349c9","name":"","props":[],"repeat":"300","crontab":"","once":true,"onceDelay":"5","topic":"","x":180,"y":480,"wires":[["65e7a4b20fedc5cc"]]},{"id":"e3b215a2d0264785","type":"change","z":"f39b6f0c7c5349c9","name":"GET","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["5ed36bd4f55efa95"]]},{"id":"116570dfe3fe81a6","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Current_Grid_Power","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Current_Grid_Power"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload.gridPowerkW","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1060,"y":500,"wires":[[]]},{"id":"84ca6c3b0f8bdf67","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Load_Power_Now","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Load_Power_Now"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:home-lightning-bolt"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload.loadPowerkW","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1060,"y":560,"wires":[[]]},{"id":"0fae30b02e4137ca","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Battery_Power_Now","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Battery_Power_Now"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:battery-charging-80"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload.batPower","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1060,"y":620,"wires":[[]]},{"id":"800a443458cf7dea","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Consumtion_Today","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Consumtion_Today"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload.consumptionEnergyToday","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1060,"y":680,"wires":[[]]},{"id":"bb9216c1687a013f","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Battery_Discharge_Today","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Battery_Discharge_Today"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"},{"property":"last_reset","value":""}],"state":"payload.dischargeEnergyToday","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1080,"y":740,"wires":[[]]},{"id":"e5f722cc3335782d","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_CO2_Saved_Today","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_CO2_Saved_Today"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload.todayCo2Saved","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1060,"y":800,"wires":[[]]},{"id":"f5b324eecf5b2b99","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Battery_Charge_Today","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Battery_Charge_Today"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"},{"property":"last_reset","value":""}],"state":"payload.chargeEnergyToday","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1070,"y":860,"wires":[[]]},{"id":"be8c52d220694d9c","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Import_Energy_Today","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Import_Energy_Today"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"},{"property":"last_reset","value":""}],"state":"payload.importEnergyToday","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1070,"y":920,"wires":[[]]},{"id":"b57ee1eb06068cd2","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Export_Energy_Today","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Export_Energy_Today"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"},{"property":"last_reset","value":""}],"state":"payload.exportEnergyToday","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1070,"y":980,"wires":[[]]},{"id":"e9efbf6287363fb8","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_PV_Power","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_PV_Power"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"Wh"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload.pvPower","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1030,"y":1040,"wires":[[]]},{"id":"248f89e9e844206f","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_PV_Daily_Yeild","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_PV_Daily_Yeild"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"},{"property":"last_reset","value":""}],"state":"payload.energyToday","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1050,"y":1100,"wires":[[]]},{"id":"2cab4860f31f6ba5","type":"debug","z":"f39b6f0c7c5349c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":200,"wires":[]},{"id":"1ad979d1d02f7f1d","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Import_Energy_Total","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Import_Energy_Total"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"},{"property":"last_reset","value":""}],"state":"payload.importEnergyTotal","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1060,"y":1160,"wires":[[]]},{"id":"9d4d39b659cdcf19","type":"ha-entity","z":"f39b6f0c7c5349c9","name":"GivEnergy_Export_Energy_Total","server":"b307aa76.bd4438","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"GivEnergy_Export_Energy_Total"},{"property":"device_class","value":"energy"},{"property":"icon","value":"mdi:transmission-tower"},{"property":"unit_of_measurement","value":"kWh"},{"property":"state_class","value":"total_increasing"},{"property":"last_reset","value":""}],"state":"payload.exportEnergyTotal","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1060,"y":1220,"wires":[[]]},{"id":"b307aa76.bd4438","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]